<!doctype html>
<html>

<head>


    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://api.mapbox.com/mapbox-gl-js/v1.8.0/mapbox-gl.css' rel='stylesheet' />

    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css" integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ==" crossorigin="" />

    <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js" integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew==" crossorigin=""></script>

    <script src='https://api.mapbox.com/mapbox-gl-js/v1.8.0/mapbox-gl.js'></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="/static/javascript/javascript.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">

    <title>Location Tracker</title>
</head>

<body>

    <header id="header-table">

        <tr class="toptr">
            <td class="toptd">Location Tracker</td>
        </tr>

    </header>
    <div id="mapid"></div>
    <p>Notes for ourselves: Table displays only latest individual position. Only display and INSERT into DB up to 4 digits(~15m accuracy)

    </p>

    <p>To do: for style check flexbox(layout module) makes everything simple to position</p>


    <input type="text" id="fname" name="fname">
    <br>
    <br>
    <button id="ajaxcall">make ajax call</button>



        <button id="getLatestTableData">Testing latest table</button>




    <h1>database query result</h1>
    <div id='realAddress'></div>

    <!--      <div id= "container"> -->


    <table id="table123" class="data-tabel" border="5">

        <thead class="datatr">
            <tr class="datatr">
                <th>Name</th>
                <th>Longitude</th>
                <th>Latitude</th>
                <th>Date</th>
                <th>Time</th>
            </tr>
        </thead>

        <tbody class="tdparent">
        </tbody>

    </table>
</body>

</html>
